<template>
  <div>
    <div class="profile d-flex flex-column justify-space-around align-center">
      <div>
        <div class="d-flex flex-row justify-center">
          <img src="~assets/img/headshot.png" alt="Headshot" class="headshot">
          <h1 class="overline align-self-center ml-3">
            {{ name }}
          </h1>
        </div>
        <div class="intro-title d-flex justify-center text-center mt-7">
          {{ title }}
        </div>
        <div class="d-flex justify-center text-center mt-7">
          <h4>{{ description }}</h4>
        </div>
        <div class="d-flex justify-center mt-3">
          <a
            v-for="(social, i) in socialMediaLinks"
            :key="i"
            :href="social.link"
            target="_blank"
            :title="social.name"
          >
            <i class="fab icons mx-2" :class="`fa-${social.icon}`" />
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      name: 'Grace Okolo',
      title: 'Fullstack Developer',
      description:
        'I help brands turn their ideas into amazing software solutions. I am an experienced fullstack web developer, I work with Python, Vue.js and  React etc. I have developed several full-featured applications. I have a good eye for details and follow best practices in my work.',
      socialMediaLinks: [
        // {
        //   name: 'Linkedin',
        //   icon: 'linkedin',
        //   link: 'https://www.linkedin.com/in/grace-okolo/'
        // },
        {
          name: 'Freelance Profile',
          icon: 'user-tie fas',
          link: 'https://www.upwork.com/freelancers/~01af194f314d743f17'
        },
        {
          name: 'Email',
          icon: 'envelope fas',
          link: 'mailto:grace.okolo15@gmail.com'
        },
        {
          name: 'Code Repository',
          icon: 'git-square',
          link: 'https://bitbucket.org/graceokolo/'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.v-application .overline {
  font-size: 1.2rem !important;
  font-weight: bold;
}

@media only screen and (max-width: 967px) {
  /* For mobile phones: */
  .intro-title {
    font-size: 70px;
    line-height: 64px;
    letter-spacing: -4px;
  }
}

@media only screen and (min-width: 968px) {
  /* For desktop: */
  .intro-title {
    font-size: 138px;
    line-height: 138px;
    letter-spacing: -9px;
  }
}

.intro-title {
  max-width: 1100px;
  margin: auto;
}

h4 {
  font-family: "Larsseit", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 26px;
  line-height: 46px;
  color: #111515;
  letter-spacing: 0.4px;
}

.intro-text {
  max-width: 980px;
  margin: 11px auto 28px;
}

.profile {
  height: 100vh;

  .headshot {
    max-width: 66px;
    border-radius: 100px;
  }

  .icons {
    font-size: 20px;
    color: #f5c15d;
  }
}
</style>
