<template>
  <div>
    <landing />
  </div>
</template>

<script>
import Landing from '~/components/landing.vue'
export default {
  components: { Landing }
}
</script>

<style
Landing>

</style>
